[flake8]
ignore = D203, E128, E241
max-line-length = 120
exclude =
    # Skip venv, git and lib directories
    .venv, .git,
    # There's no value in checking cache directories
    __pycache__,
    # Django migrations are generated code
    migrations
