{% load static i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Project title{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicons/favicon-96.png' %}">
  </head>
  <body>
    <div class="container">
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div>
  </body>
</html>
