{% extends "admin/login.html" %}

{% load static i18n %}

{% block extrahead %}
    <meta name="google-signin-client_id" content="{{ google_client_id }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <br />
    <hr />
    <a href="#" class="google_login">
        <img src="{% static 'admin/img/google.svg' %}" />
        {% translate "Sign in with Google" %}
    </a>
    <ul class="gauth errors"></ul>
{% endblock content %}

{% block footer %}
    <script src="https://apis.google.com/js/api:client.js" async defer></script>
    <script src="{% static 'admin/js/google_auth.js' %}"></script>
{% endblock %}